<p class="blockquote text-center"><%= @question %></p>
<p class="blockquote-footer text-center"><em>You</em></p>
<p class="blockquote text-center"><strong><%= @answer %></strong></p>
<p class="blockquote-footer text-center"><em>Coach</em></p>

<p class="text-center"><%= link_to "Ask a new question", ask_path %></p>
